/* Navbar styling */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #342A21; /* Bistre */
  padding: 10px 20px;
  color: white;
  box-sizing: border-box;
  margin-top: 0;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  position: sticky;
  top: 70px; /* Adjusts to stay right below the header */
  z-index: 900;
}

/* Left side of the navbar */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Dropdown styling */
.dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

/* Search button styling */
.search-button {
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Add Note button styling */
.add-button {
  padding: 8px 12px;
  background-color: #3aac55;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}
